<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= jsonData.sitename %></title>
  <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,minimum-scale=1.0">
  <link href="<%= jsonData.cssdir %>/base.css" rel="stylesheet" />
  <link href="<%= jsonData.cssdir %>/style.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="<%= jsonData.jsdir %>/cmn.js" type="text/javascript"></script>
</head>

<body>