@charset "utf-8";
@import "compass";
@import "_config.scss";
@import "_color.scss";
@import "_base.scss";


/* cmn
---------------------------------------- */
body {
  position: relative;
  font-family: $gothic;
  @include fs(13);
  color: $font;
  letter-spacing: 0.05em;
  @include mq (medium) {
    @include spfs(20);
  }
  a {
    color: $font;
    &:hover {
      opacity: .6;
      transition: .6s;
    }
  }
}